body {
	display: flex;
	justify-content: center;
	background-image: url(images/q3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
img {
	width: 200px;
	height: 300px;
	border-radius: 5px;
}

img:hover {
	animation-duration: 0.8s;
	animation-name: imgClick;
}

@keyframes imgClick {
	50% {
		transform: scale(1.1);
		opacity: 0.8;
	}
	100% {
		transform: scale(1);
	}
}
